{% load bootstrap4 %}
{% load static %}
<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>
    {% bootstrap_css %}
</head>
<body>
    <div class="container">
        <h1>Login</h1>
        {% bootstrap_messages %}

        <form name="form-users" id="formUsers" action="logar/" method="post" class="form" autocomplete="off" enctype="multipart/form-data">
            <div class="col-6 mt-4 m-auto">
                {% csrf_token %}
                
                <input class="form-control mt-4" type="text" name="user" id="user" placeholder="Nome de usuário:">
                <input class="form-control mt-4" type="password" name="password" id="password" placeholder="Digite a senha:">
                <input class="form-control mt-4" type="password" name="password-conf" id="password-conf" placeholder="Digite a senha novamente:">
                <input class="form-control mt-4" type="email" name="email" id="email" placeholder="Digite o e-mail:">

                {% buttons %}
                    <button type="submit" class="btn btn-primary">Logar</button>
                {% endbuttons %}
            </div>
        </form>
    </div>
{% bootstrap_javascript jquery='full' %}
</body>
</html>